<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Semi-Restful TVshows</title>
</head>
<body>
    <h1>Add New Show</h1>

    <form action="/" method='POST'>
        {% csrf_token %}
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="Title"><br>
        <label for="network">Network:</label><br>
        <input type="text" id="network" name="Network"><br>
        <label for="releasedate">Release Date:</label><br>
        <input type="date" id="releasedate" name="Release Date"><br>
        <label for="description">Description:</label><br>
        <input type="text" id="description" name="Description"><br>
    </form>
    <input type="submit" value='Create'>
</body>
</html>